In [45]:
== #equal
!=  #not equal
> 
<= 
>=

SyntaxError: invalid syntax (<ipython-input-45-1288dc882fe9>, line 1)

In [46]:
##If statement itu hasilnya Boolean

In [47]:
cuaca = 'hujan' 
if cuaca != 'cerah':
    print('jangan pergi keluar')
    print('tetap di rumah')

jangan pergi keluar
tetap di rumah

In [48]:
x = 1 

if x >= 1:
    print('benar')

benar

In [49]:
x = 1 
y = 10 
if x >= 1: #expression 1 
    print('benar') #statement 1 
    print('betul') #statement 2 
    print('tepat') #statement 3 
    
    if y == 10: #expression 2 
        print('OK') #statement 1 
        
        if x == 1: #expression 3 
            print('benar sekali')

print('ngokhey')

benar
betul
tepat
OK
benar sekali
ngokhey

In [50]:
if 'foo' in ['foo', 'bar', 'baz']: # E1 terpenuhi 
    print('Outer condition is true') # statement 1 jalan 
    
    if 10 > 20: #E2 tidak terpenuhi 
        print('Inner condition 2') #statemen 2 tidak jalan 
        
    if 10 < 20: #E3 terpenuhi 
        print('Inner condition 3') #statement 3 jalan

Outer condition is true
Inner condition 3

In [51]:
x = 10 

if x < 10: 
    print('OK') 
else: 
    print('NOT')

NOT

In [52]:
y = 100 

if y == 90: 
    print('OK') 
    
elif y == 80: 
    print('this')
    
elif y == 100: 
    print('this1')

elif y == 20: 
    print('this2')
    
else: 
    print('NOT')

this1

In [53]:
harga_buku = 20000 
harga_majalah = 5000 
uang = 2000 
harga_pulpen = 1000 

if uang > harga_buku: 
    print('beli_buku') 
    
elif uang > harga_pulpen: 
    print('beli_pulpen')
    
else: 
    print('gak cukup uangnya')

beli_pulpen

In [54]:
name = 'Hacktiv8'

if name == 'Fred': 
    print('Hai Fred')   
elif name == 'Xander': 
    print('Hai Xander')
elif name == ('Hacktiv8'):
    print('Hai Hack') 
else: 
    print('Who are you?')

Hai Hack

In [55]:
if name == 'Hacktiv8': print('Hai Hack'); print('how are you?'); print('are you hungry?')

Hai Hack
how are you?
are you hungry?

In [56]:
a = 1 
b = 2 
c = 3 
y = 50 

x = 'Benar' if y == 10 else 'Salah'
print(x)

Salah

In [57]:
x = 2 

if x == 1: 
    print('foo')
    print('bar')
    print('baz')
    
elif x == 2: 
    print('ngkohey')
    print('iyeeee') 
    
else: 
    print('hoho') 
    print('hihi')

ngkohey
iyeeee

In [58]:
print('A' not in 'ABC') 
print('A' in ['A'],['B'],['C'])
print('A' in {'A'},{'B'},{'C'})

False
True ['B'] ['C']
True {'B'} {'C'}

In [59]:
hujan = False 
print('Ayo ke', 'pantai' if not hujan else 'di rumah aje')

print('-'*29)
if not hujan: 
    print('kuy lah pantai') 
else: 
    print('di rumah aje')

Ayo ke pantai
-----------------------------
kuy lah pantai

In [60]:
hujan = True 
print('Ayo', 'pantai' if not hujan else 'di rumah aje')

print('-'*29)

abcd = 'Kuy'
if not hujan: 
    print(abcd, 'lah ke pantai') 
else: 
    print(abcd, 'di rumah aje')

Ayo di rumah aje
-----------------------------
Kuy di rumah aje

In [61]:
# cerah, berawab, hujan, mendung, terik 
"""
cerah -> main bola 
berawan -> brenang 
hujan -> di rumah aje
mendung -> jalan-jalan
terik -> tidur
"""
cuaca = 'hujan' 
aktivitas = 'Main Bola' if cuaca == 'cerah' else 'berenang'
print(aktivitas)

berenang

In [62]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [63]:
## Pass Statement

In [64]:
## Looping/Iterasi

In [65]:
if True: 
    pass 
print('foo')

foo

In [66]:
# while True: 
#    print('A')

In [67]:
n = 0 
print('n =', n) 
print('-'*20)
while True: 
    print ('A{}'.format(n))
    n += 1 
    if n == 10: 
        break 
print('-'*20)
print('n -', n)

n = 0
--------------------
A0
A1
A2
A3
A4
A5
A6
A7
A8
A9
--------------------
n - 10

In [68]:
n = 5 
while n > 0: 
    n -= 1 
    print(n)

4
3
2
1
0

In [69]:
n = 5 
while n > 0: 
    n -= 1 
    if n == 2: 
        continue
    print(n)
print('Loop ended')

4
3
1
0
Loop ended

In [70]:
n = 5 
while n > 0: 
    n -= 1 
    if n == 2: 
        break
    print(n)
print('Loop ended')

4
3
Loop ended

In [71]:
nama_akun = '@metrotvnews'
target_tweet = 100 
tweet_terambil = 0 
text_warning = 'ROKOK'

while tweet_terambil != target_tweet: 
    tweet_terambil += 1 
    tweet = 'ambil tweet ke-{}'.format(tweet_terambil)
    if tweet_terambil == 5: 
        tweet = tweet + 'ROKOK'
    print(tweet)
    if text_warning in tweet: 
        print('Warning')
        print()
        break
        
    print('Tweet aman.')
    print()

ambil tweet ke-1
Tweet aman.

ambil tweet ke-2
Tweet aman.

ambil tweet ke-3
Tweet aman.

ambil tweet ke-4
Tweet aman.

ambil tweet ke-5ROKOK
Warning

In [72]:
n = 5 
while n > 0: 
    n -= 1 
    print(n) 
else: 
    print('Loop done')

4
3
2
1
0
Loop done

In [73]:
n = 5 
while n > 0: 
    n -= 1 
    print(n) 
    
print('Loop done')

4
3
2
1
0
Loop done

In [74]:
n = 5 
while n > 0: 
    n -= 1 
    print(n) 
    if n == 2: 
        continue
else:    
    print('Loop done') 
    
print('Start another process')

4
3
2
1
0
Loop done
Start another process

In [75]:
a = ['foo', 'bar'] 
while len(a): 
    print(a.pop(0))
    
    b = ['baz', 'qux'] 
    
    while len(b): 
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [76]:
## For

In [ ]:
for x in y

In [77]:
a = 'abcde'
for i in a:
    print(i)

a
b
c
d
e

In [78]:
a = {'foo': 1, 'bar': 2, 'baz': 3}
for i in a: 
    print(i)

foo
bar
baz

In [79]:
a = {'foo': 1, 'bar': 2, 'baz': 3}
for i in a: 
    print(i, a[i])

foo 1
bar 2
baz 3

In [80]:
for i in a.values(): 
    print(i)

1
2
3

In [81]:
for i in a.keys(): 
    print(i)

foo
bar
baz

In [82]:
a

{'foo': 1, 'bar': 2, 'baz': 3}

In [84]:
for k, v in a.items(): 
    print(k, v)

foo 1
bar 2
baz 3

In [87]:
a = ['a', 'b', 'c'] 
b = ['A', 'B', 'C'] 
c = [1, 2, 3] 

for i, j, k in zip(a, b, c):
    print(i, j, k)

a A 1
b B 2
c C 3

In [90]:
x = range(11)
print(x)
type(x)

range(0, 11)

range

In [94]:
for i in range(11): 
    if i == 5: 
        continue 
        print(i)

In [95]:
a = input('Masukkan nama: ')
for i in a:  
    print(i)

Masukkan nama: Awan
A
w
a
n

In [100]:
while True: 
    msg = input('Stop?')
    if msg == 'S':
        break

Stop?a
Stop?b
Stop?S